
#heading {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    font-weight:700;
    text-align: center;
    background-color: rgba(80, 177, 121, 0.486);
}
.recipe-name {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    font-weight:700;
    text-align: center;
}

.image {
    height:auto;
    width: 700px;
}